/* RESET */
/* Remove margens/paddings padrão e garante que o box-sizing seja border-box */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #13141A; /* Cor de fundo escura */
  overflow-x: hidden;        /* Evita scroll horizontal */
  font-family: Arial, sans-serif; /* Fonte padrão */
}

/* HEADER */
/* Cabeçalho ocupa toda a largura e mantém a mesma cor do fundo */
header{
  width: 100%;
  background: #13141A;
}

nav{
  height: 80px;                  /* Altura do menu superior */
  display: flex;                 /* Flexbox para alinhar logo e menu */
  align-items: center;           /* Centraliza verticalmente */
  justify-content: space-between;/* Espaço entre logo e hamburger */
  padding: 0 60px;               /* Espaçamento lateral */
}

/* LOGO */
.logo{
  margin-left: 15vh;
  margin-top: 3vh;
  height:  70px; /* Define altura da logo */
  width: auto;  /* Mantém proporção */
}

/* HAMBURGER */
/* Botão com 3 linhas empilhadas */
.mobileMenu{
  cursor: pointer;
  display: flex;
  flex-direction: column;
  margin-right: 15%;
  margin-top: 3vh;
  gap: 11px;       /* Espaço entre as linhas */
  z-index: 1001;  /* Fica acima do overlay */
}

.mobileMenu div{
  width: 50px;    /* Largura das linhas */
  height: 2px;    /* Espessura */
  background: white;
  transition: 0.3s; /* Suaviza animações */
}

/* Estado ativo (vira X) */
/* Primeira linha gira e desce */
.mobileMenu.active div:nth-child(1){
  transform: rotate(-45deg) translate(-20px, 0px);
}
/* Linha do meio some */
.mobileMenu.active div:nth-child(2){
  opacity: 0;
}
/* Última linha gira e sobe */
.mobileMenu.active div:nth-child(3){
  transform: rotate(45deg) translate(-20px, 0px);
}

/* LINHA BRANCA ABAIXO */
/* Linha divisória abaixo do header */
.divisao{
  width: 100%;
  height: 2px;
  background: white;
  margin-top: 5vh;
}
.vertical{
  width: 200vw;
  height: 2px;
  margin-right: 30vw;
  transform: rotate(90deg);
  background: white;
}

/* OVERLAY ESCURO */
/* Fundo escuro que aparece atrás do menu lateral */
.overlay{
  position: fixed;
  inset: 0; /* top, right, bottom, left = 0 */
  background: rgba(0,0,0,0.5); /* Transparência */
  opacity: 0;                  /* Invisível por padrão */
  pointer-events: none;        /* Não bloqueia cliques */
  transition: 0.3s;
  z-index: 998;                /* Fica abaixo do menu */
}

.overlay.active{
  opacity: 1;           /* Fica visível */
  pointer-events: all;  /* Bloqueia cliques no fundo */
}

/* SIDEBAR */
/* Menu lateral que desliza da direita */
.nav-list{
  position: fixed;
  top: 0;
  right: 0;
  width: 30vw;          /* Largura do menu */
  height: 100vh;         /* Altura total da tela */
  background: #0F1117;   /* Cor do menu */

  display: flex;
  flex-direction: column;
  align-items: flex-end; /* Alinha itens à direita */
  padding: 40px;

  transform: translateX(100%); /* Escondido fora da tela */
  transition: transform 0.3s ease-in-out;
  z-index: 999;                /* Acima do overlay */
  justify-content: center;
  align-items: center;
}

.nav-list.active{
  transform: translateX(0); /* Entra na tela */
}

.nav-list li{
  list-style: none; /* Remove bolinhas */
  margin: 20px 0;   /* Espaçamento entre links */

}

.nav-list a{
  color: #ffff;          /* Cinza claro */
  text-decoration: none;/* Remove sublinhado */
  font-size: 16px;
  transition: 0.3s;     /* Suaviza hover */

}

.nav-list a:hover{
  font-style: italic; /* Fica branco ao passar o mouse */
}

/* BOTÃO X */
/* Botão dentro do menu lateral para fechar */
.close-btn{
  font-size: 28px;
  color: white;
  cursor: pointer;
  align-self: flex-start; /* Fica no canto esquerdo */
  margin-bottom: 40px;    /* Espaço abaixo */
}
