@font-face { /*Seta as fontes padrão da página*/
  font-family: 'Biryani-Bold';
  src: url('./assets/Fonts/Biryani/Biryani-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Biryani-extraBold';
  src: url('./assets/Fonts/Biryani/Biryani-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Biryani-semiBold';
  src: url('./assets/Fonts/Biryani/Biryani-SemiBold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Biryani-regular';
  src: url('./assets/Fonts/Biryani/Biryani-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Biryani-light';
  src: url('./assets/Fonts/Biryani/Biryani-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
*{
    background-color: #13141A;
}
header{
position: relative;
  top: 0;/*Define a distância entre o elemento até o topo da tela ou contêiner*/
  left: 0;/*Define a distância entre o elemento até o lado esquerdo da tela ou contêiner*/
  width: 100%;
  background-color: var(--default-dark-blue);
  z-index: 1000; /*Define a ordem de empilhamento dos elementos da página, a profundidade deles, o eixo-z, ou seja, esta propriedade garante que o header ficará acima de todos os elementos da página*/
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /*Sombreamento do elemento*/
  padding: 0;
}
.logo{
  padding-left: 12%;
  height: 90px;
  width: 300px;
}

.menu-btn{
  position: fixed;
  top: 20px;
  right: 20%;
  width: 75px;
  height: 70px;
  cursor: pointer;
  z-index: 1100;
}
.menu-btn div {
  background-color: white;
  height: 3px;
  margin: 17px 0;
  transition: 0.4s;/*Define uma animação suave entrte os estados do elemento */
}
/* Animação para virar um X */
.menu-btn.active .bar1 {
  transform: rotate(45deg) translate(20px, 20px);/*Ao ganhar a propriedade active, a barra número 1 faz uma rotação de 45 graus no sentido horário, também movendo o elemento 20 pixels á direita e 20 pixels para baixo*/
}

.menu-btn.active .bar2 {
  opacity: 0;/*Totalmente transparente no valor 0, e visivel no valor 1*/
}

.menu-btn.active .bar3 {
  transform: rotate(-45deg) translate(6px, -6px);/*Ao ganhar a propriedade active, a barra número 3 faz uma rotação de 45 graus no sentido anti-horário, também movendo o elemento 6 pixels á direita e 6 pixels para cima*/
}
.divisao{
    border: 2px solid #fffb;
}
